.custom-row-even-room-even,
.custom-row-even-room-even td {
  background-color: #f5f4b6dc !important;
}

.custom-row-even-room-odd,
.custom-row-even-room-odd td {
  background-color: #eee1c6c9 !important;
}

.custom-row-odd-room-even,
.custom-row-odd-room-even td {
  background-color: #cde8f5 !important;
}

.custom-row-odd-room-odd,
.custom-row-odd-room-odd td {
  background-color: #9bb8c5 !important;
}

.room-cell {
  background-color: #ebd289 !important; /* A bright background color */
}